:root {
    --wp-active-color: #3858e9;
}
.plugin-starter-settings-template {
    #wpcontent {
        padding-left: 0;
        .card {
            max-width: unset;
            min-width: unset;
            margin-top: 0;
        }
    }
    #wpbody-content {
        padding-bottom: 0;
    }
    #wpfooter {
        display: none;
    }
    ul#adminmenu a.wp-has-current-submenu:after, 
    ul#adminmenu>li.current>a.current:after {
        border-right-color: var(--bs-body-bg);
    }
}