:root {
    --wp-active-color: #3858e9;
}
.plugin-starter-settings-template {
    #wpadminbar,
    #adminmenuwrap {
        z-index: 999;
    }
    #wpcontent {
        padding-left: 0;
        .card {
            max-width: unset;
            min-width: unset;
            margin-top: 0;
            padding: unset;
        }
    }
    #wpbody-content {
        padding-bottom: 0;
    }
    #wpfooter {
        display: none;
    }
    ul#adminmenu a.wp-has-current-submenu:after, 
    ul#adminmenu>li.current>a.current:after {
        border-right-color: var(--bs-body-bg);
    }
    .form-select,
    .form-control {
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        background-color: transparent;
        &:hover {
            border-color: var(--bs-border-color);
        }
        &:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
        }
    }
    .form-check {
        .form-check-input {
            margin: 0;
            margin-top: 4px;
            margin-left: -1.5em;
        }
    }
    .form-switch {
        .form-check-input {
            background-color: #ffffff;
            background-image: var(--bs-form-switch-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            background-repeat: no-repeat;
            outline: none;
            box-shadow: none;
            margin-left: -2.5em;
            &:checked {
                background-color: #0d6efd;
                border-color: #0d6efd;
                &::before {
                    display: none;
                }
            }
        }
    }
    .breadcrumb {
        margin: 0;
        padding: 0;
        li.breadcrumb-item {
            margin-bottom: 0;
            a {
                text-decoration: none;
            }
        }
    }
}